doctype html
html
  head
    title Umbrella JS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="keywords" content="javascript, js, library, umbrella, html, html5, light")
    meta(name="description" content=" Lightweight and intuitive javascript library")
    meta(property="og:image" content="http://www.umbrellajs.com/web/umbrella.svg")
    link(href="web/fontello.css" rel="stylesheet")
    link(href="web/picnic.css" rel="stylesheet")
    link(href="web/style.css" rel="stylesheet")
    block style
    link(rel="icon", href="web/umbrella.svg", type="image/svg+xml")

  body
    nav
      div.brand
        img.logo(src="web/umbrella.svg")
        a(href="/") Umbrella JS
      
      div.menu
        a.pseudo.button.icon-ok(href="tests")
          span.text Tests
        a.pseudo.button.icon-g(href="https://github.com/umbrellajs/umbrella")
          span.text Github
        a.button.icon-doc(href="documentation")
          span.text Documentation

    block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72195046-1', 'auto');
      ga('send', 'pageview');