.brand a, .brand a:hover, .brand a:active {
  color: #333;
  box-shadow: none;
  background: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 300px;
  padding: 1px 0px;
  box-shadow: 0px 0px 0px 10000em rgba(0, 0, 0, 0.05) inset;
}

.hero .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 30px;
}

.hero h1 {
  font-size: 3em;
  line-height: 1;
  padding: 0px;
}

.hero p {
  text-shadow: 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.8);
}

.hero .links a {
  text-shadow: none;
}


.hero .slogan {
  font-size: 1.3em;
  margin: 0 0 5px;
}

.hero .keepgoing {
  color: #fff;
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease 0s;
  opacity: .7;
  animation: bounce 1s ease infinite;
}


.test section {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

section.row {
  background: #fff;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

section.row aside {
  width: 200px;
}


header {
  background: #adf url("../web/cloud.svg") repeat top left;
  background-size: 480px 320px;
  animation: cloud 10s linear infinite;
}

nav.transparent {
  background: transparent;
  box-shadow: none;
}

.wrap {
  width: 100%;
  height: 100%;
  background: url("../web/drop.svg") repeat top left;
  background-size: 60px 60px;
  animation: rain .5s linear infinite;
}

.install {
  width: 300px;
  color: #000;
  text-align: center;
  border-radius: 0px;
  margin: 1.3em auto 0.3em;
}

h2 {
  margin: 0px;
  padding: 0;
  line-height: 1;
}

.documentation h2 {
  padding-top: 3em;
}

.documentation aside h2 {
  margin-top: 0;
  padding: 1.4em 0px;
  line-height: 1;
}

aside a.button {
  margin-top: 
  display: block;
}

pre {
  margin: 0;
}

@keyframes rain {
  from { background-position: 0 0; }
  to { background-position: -60px 60px; }
}

@keyframes cloud {
  from { background-position: 0 0; }
  to { background-position: -480px 0; }
}


@keyframes bounce {
  from { bottom: 20px; }
  70% { bottom: 10px; }
  to { bottom: 20px; }
}

@media (max-width:60em) {
  nav .menu {
    min-height: 0;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    width: auto;
    margin-right: .3em;
  }
  
  nav.transparent .menu {
    background: transparent;
  }
  
  nav .menu > * {
    display: inline-block;
    margin: .3em .3em;
  }
  
  nav .menu > a {
    padding: .3em .6em;
  }
  
  [class*=" icon-"]::before {
    margin: .2em;
  }
}

@media (max-width: 38em) {
  nav .menu {
    margin: 0;
    padding-right: .3em;
  }
  
  nav .menu > * {
    margin: .3em .1em;
  }
  
  nav .menu .text {
    display: none;
  }
}

@media (max-width: 21em) {
  body {
    font-size: .9em;
  }
}