body {
  padding-top: 1px;
  margin-top: -1px;
}

.brand a, .brand a:hover, .brand a:active {
  color: #333;
  box-shadow: none;
  background: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  text-align: center;
  min-height: 300px;
  padding: 1px 0px;
  box-shadow: 0px 0px 0px 10000em rgba(0, 0, 0, 0.05) inset;
  transition: height 999999s;
}

.hero .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 30px;
}

.hero h1 {
  font-size: 3em;
  padding: 0px;
  line-height: 1;
}

.hero h1,
.hero p {
  color: #fff;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

.hero .links a {
  text-shadow: none;
}


.hero .slogan {
  font-size: 1.4em;
  margin: 0 0 5px;
}

.hero .keepgoing {
  display: block;
  color: #fff;
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease 0s;
  opacity: .7;
  animation: bounce 1s ease infinite;
}

.hero .keepgoing:active,
.hero .keepgoing:focus {
  box-shadow: none;
  background: none;
}


.test section {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

.documentation h3 {
  padding: .6em 0 0;
}

.documentation pre + h3 {
  padding: 1.2em 0 0;
}

.documentation h3 + p {
  margin-top: .3em;
}

.thanks li {
  list-style-type: circle;
}

section.row {
  background: #fff;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0 0;
}

section.row:last-child {
  padding-bottom: 120px;
}

.hero + section.row {
  padding-top: 80px;
}

section.row .love {
  text-align: center;
  font-weight: bold;
}

section.row aside {
  width: 200px;
}

nav.transparent {
  background: transparent;
  box-shadow: none;
}

main {
  width: 100%;
  background: #fff;
}

.cover {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateZ(0);
  transition: height 999999s;
}

.color {
  background-color: #223344;
}

.city {
  background: url("../web/city.svg") repeat top left;
  background-size: cover;
  background-position: center center;
}

.cloud {
  background: url("../web/cloud.svg") repeat top left;
  background-size: 480px 320px;
  animation: cloud 30s linear infinite;
  opacity: .7;
}

.rain {
  background: url("../web/drop.svg") repeat top left;
  background-size: 60px 60px;
  animation: rain .5s linear infinite;
  opacity: .4;
}

.wrap {
  width: 100%;
  height: 100%;
}

.install {
  width: 300px;
  color: #000;
  text-align: center;
  border-radius: 0px;
  margin: 1.3em auto 0.3em;
}

h2 {
  margin: 0px;
  padding: 0;
  line-height: 1;
}

.documentation h2 {
  padding-top: 3em;
}

.documentation pre + h2 {
  margin-top: 1em;
}

.documentation aside h2 {
  margin-top: 0;
  padding: 1.25em 0;
  line-height: 1;
}

.documentation aside a.pseudo {
  color: #0074D9;
}

aside a.button {
  display: block;
}

aside a.top {
  font-size: 0;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  width: 200px;
  padding: .6em 0;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .3s ease;
}

aside a.top.visible {
  font-size: 1em;
}

.index pre {
  margin: 0;
  font-size: .9em;
}

h2, h3, h4 {
  margin-bottom: .6em;
}

pre code {
  background: none;
}

@keyframes rain {
  from { background-position: 0 0; }
  to { background-position: -60px 60px; }
}

@keyframes cloud {
  from { background-position: 0 0; }
  to { background-position: -480px 0; }
}


@keyframes bounce {
  from { bottom: 20px; }
  70% { bottom: 10px; }
  to { bottom: 20px; }
}

@media (max-width:60em) {
  nav .menu {
    min-height: 0;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    width: auto;
    margin-right: .3em;
  }

  nav.transparent .menu {
    background: transparent;
  }

  nav .menu > * {
    display: inline-block;
    margin: .3em .3em;
  }

  nav .menu > a {
    padding: .3em .6em;
  }

  .cover {
    position: absolute;
  }

  section.row {
    padding: 40px 0 0;
  }

  [class*=" icon-"]::before {
    margin: .2em;
  }

  .documentation {
    margin: 1em 0;
  }

  .documentation aside {
    display: none;
  }
}

@media (max-width: 38em) {
  nav .menu {
    margin: 0;
    padding-right: .3em;
  }

  nav .menu > * {
    margin: .3em .1em;
  }

  nav .menu .text {
    display: none;
  }

  section.row {
    padding: 20px 0 0;
  }
}

@media (max-width: 21em) {
  body {
    font-size: .9em;
  }

  section.row {
    padding: 10px 0 0;
  }
}



/* Prism */
/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}




pre[class*="language-"] {
  margin-top: 0;
  padding: .5em .8em;
  font-size: 1.2em;
  line-height: 1.3;
}
